assets/files/AzureDeployments/LA-AADUsersToLogAnalytics.json
{
   "$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{
      "Name":{
         "defaultValue":"logic-AADUsersToLogAnalytics",
         "type":"String"
      }
   },
   "variables":{
      "connections_azureloganalyticsdatacollector_name": "LogicApp-Connector-AzureLogAnalytics-Upload"
   },
   "resources":[
      {
         "apiVersion":"2019-05-01",
         "name":"pid-829f34d0-ff76-42d3-b46f-f527d50ff819",
         "type":"Microsoft.Resources/deployments",
         "subscriptionId":"[subscription().subscriptionId]",
         "resourceGroup":"[resourceGroup().name]",
         "properties":{
            "mode":"Incremental",
            "template":{
               "$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
               "contentVersion":"1.0.0.0",
               "resources":[
                  
               ]
            }
         }
      },
      {
         "type":"Microsoft.Web/connections",
         "apiVersion":"2016-06-01",
         "name":"[variables('connections_azureloganalyticsdatacollector_name')]",
         "location":"[resourceGroup().location]",
         "kind":"V1",
         "properties":{
            "displayName":"LogAnalyticsWorkspace",
            "customParameterValues":{
               
            },
            "api":{
               "id":"[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
            }
         }
      },
      {
         "type":"Microsoft.Logic/workflows",
         "apiVersion":"2017-07-01",
         "name":"[parameters('Name')]",
         "location":"[resourceGroup().location]",
         "dependsOn":[
            "[resourceId('Microsoft.Web/connections', variables('connections_azureloganalyticsdatacollector_name'))]"
         ],
         "properties":{
            "state":"Enabled",
            "definition":{
               "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
               "contentVersion":"1.0.0.0",
               "parameters":{
                  "$connections":{
                     "defaultValue":{
                        
                     },
                     "type":"Object"
                  }
               },
               "triggers":{
                  "Recurrence":{
                     "recurrence":{
                        "frequency":"Day",
                        "interval":1
                     },
                     "type":"Recurrence"
                  }
               },
               "actions":{
                  "Initialize_variable":{
                     "runAfter":{
                        
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"Next",
                              "type":"string",
                              "value":"https://graph.microsoft.com/v1.0/users?$filter=accountEnabled eq true  and userType eq 'Member'&$select=userPrincipalName,onPremisesSamAccountName,employeeId,officeLocation,department"
                           }
                        ]
                     }
                  },
                  "Until_2":{
                     "actions":{
                        "HTTP":{
                           "runAfter":{
                              
                           },
                           "type":"Http",
                           "inputs":{
                              "authentication":{
                                 "audience":"https://graph.microsoft.com/",
                                 "clientId":"00000000-0000-0000-0000-000000000000",
                                 "secret":"",
                                 "tenant":"00000000-0000-0000-0000-000000000000",
                                 "type":"ActiveDirectoryOAuth"
                              },
                              "method":"GET",
                              "uri":"@variables('Next')"
                           }
                        },
                        "Parse_JSON":{
                           "runAfter":{
                              "HTTP":[
                                 "Succeeded"
                              ]
                           },
                           "type":"ParseJson",
                           "inputs":{
                              "content":"@body('HTTP')",
                              "schema":{
                                 "properties":{
                                    "@@odata.context":{
                                       "type":"string"
                                    },
                                    "@@odata.nextLink":{
                                       "type":"string"
                                    },
                                    "value":{
                                       "type":"array"
                                    }
                                 },
                                 "type":"object"
                              }
                           }
                        },
                        "Send_Data":{
                           "runAfter":{
                              "Set_variable":[
                                 "Succeeded"
                              ]
                           },
                           "type":"ApiConnection",
                           "inputs":{
                              "body":"@body('Parse_JSON')?['value']",
                              "headers":{
                                 "Log-Type":"ITPC_CTX_ADUsers"
                              },
                              "host":{
                                 "connection":{
                                    "name":"@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                 }
                              },
                              "method":"post",
                              "path":"/api/logs"
                           }
                        },
                        "Set_variable":{
                           "runAfter":{
                              "Parse_JSON":[
                                 "Succeeded"
                              ]
                           },
                           "type":"SetVariable",
                           "inputs":{
                              "name":"Next",
                              "value":"@body('Parse_JSON')?['@odata.nextLink']"
                           }
                        }
                     },
                     "runAfter":{
                        "Initialize_variable":[
                           "Succeeded"
                        ]
                     },
                     "expression":"@equals(variables('Next'), '')",
                     "limit":{
                        "count":60,
                        "timeout":"PT1H"
                     },
                     "type":"Until"
                  }
               },
               "outputs":{
                  
               }
            },
            "parameters":{
               "$connections":{
                  "value":{
                     "azureloganalyticsdatacollector":{
                        "connectionId":"[resourceId('Microsoft.Web/connections', variables('connections_azureloganalyticsdatacollector_name'))]",
                        "connectionName":"[variables('connections_azureloganalyticsdatacollector_name')]",
                        "id":"[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
                     }
                  }
               }
            }
         }
      }
   ]
}