assets/files/AzureDeployments/LA-SessionHostStatesToLogAnalytics.json
{
   "$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion":"1.0.0.0",
   "parameters":{
      "Name":{
         "defaultValue":"logic-SessionHostsAvailability",
         "type":"String"
      }
   },
   "variables":{
      "connections_azureloganalyticsdatacollector_name":"LogicApp-Connector-AzureLogAnalytics-Upload"
   },
   "resources":[
      {
         "apiVersion":"2019-05-01",
         "name":"pid-829f34d0-ff76-42d3-b46f-f527d50ff819",
         "type":"Microsoft.Resources/deployments",
         "subscriptionId":"[subscription().subscriptionId]",
         "resourceGroup":"[resourceGroup().name]",
         "properties":{
            "mode":"Incremental",
            "template":{
               "$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
               "contentVersion":"1.0.0.0",
               "resources":[
                  
               ]
            }
         }
      },
      {
         "type":"Microsoft.Web/connections",
         "apiVersion":"2016-06-01",
         "name":"[variables('connections_azureloganalyticsdatacollector_name')]",
         "location":"[resourceGroup().location]",
         "kind":"V1",
         "properties":{
            "displayName":"LogAnalyticsWorkspace",
            "customParameterValues":{
               
            },
            "api":{
               "id":"[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
            }
         }
      },
      {
         "type":"Microsoft.Logic/workflows",
         "apiVersion":"2017-07-01",
         "name":"[parameters('Name')]",
         "location":"[resourceGroup().location]",
         "dependsOn":[
            "[resourceId('Microsoft.Web/connections', variables('connections_azureloganalyticsdatacollector_name'))]"
         ],
         "properties":{
            "state":"Enabled",
            "definition":{
               "$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
               "contentVersion":"1.0.0.0",
               "parameters":{
                  "$connections":{
                     "defaultValue":{
                        
                     },
                     "type":"Object"
                  }
               },
               "triggers":{
                  "Recurrence":{
                     "recurrence":{
                        "frequency":"Minute",
                        "interval":5
                     },
                     "type":"Recurrence"
                  }
               },
               "actions":{
                  "Authentication:_App_Id":{
                     "runAfter":{
                        "Authentication:_Tenant_Id":[
                           "Succeeded"
                        ]
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"AADAppId",
                              "type":"string",
                              "value":"00000000-0000-0000-0000-000000000000"
                           }
                        ]
                     }
                  },
                  "Authentication:_App_Password":{
                     "runAfter":{
                        "Authentication:_App_Id":[
                           "Succeeded"
                        ]
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"AADAppPassword",
                              "type":"string",
                              "value":"***************"
                           }
                        ]
                     }
                  },
                  "Authentication:_Tenant_Id":{
                     "runAfter":{
                        "Subscription_Id":[
                           "Succeeded"
                        ]
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"AADTenantId",
                              "type":"string",
                              "value":"00000000-0000-0000-0000-000000000000"
                           }
                        ]
                     }
                  },
                  "For_each":{
                     "foreach":"@body('Parse:_HostPools')?['value']",
                     "actions":{
                        "Set_NextLink":{
                           "runAfter":{
                              
                           },
                           "type":"SetVariable",
                           "inputs":{
                              "name":"NextLink",
                              "value":"https://management.azure.com@{items('For_each')?['id']}/sessionhosts?api-version=2019-09-24-preview"
                           }
                        },
                        "Until":{
                           "actions":{
                              "HTTP:_SessionHosts":{
                                 "runAfter":{
                                    "Set_NextLink_2":[
                                       "Succeeded"
                                    ]
                                 },
                                 "type":"Http",
                                 "inputs":{
                                    "authentication":{
                                       "audience":"https://management.azure.com/",
                                       "clientId":"@variables('AADAppId')",
                                       "secret":"@variables('AADAppPassword')",
                                       "tenant":"@variables('AADTenantId')",
                                       "type":"ActiveDirectoryOAuth"
                                    },
                                    "method":"GET",
                                    "uri":"@variables('NextLink')"
                                 }
                              },
                              "Parse:_SessionHosts":{
                                 "runAfter":{
                                    "HTTP:_SessionHosts":[
                                       "Succeeded"
                                    ]
                                 },
                                 "type":"ParseJson",
                                 "inputs":{
                                    "content":"@body('HTTP:_SessionHosts')",
                                    "schema":{
                                       "properties":{
                                          "nextLink":{
                                             
                                          },
                                          "value":{
                                             "type":"array"
                                          }
                                       },
                                       "type":"object"
                                    }
                                 }
                              },
                              "Send_Data":{
                                 "runAfter":{
                                    "Set_Upload":[
                                       "Succeeded"
                                    ]
                                 },
                                 "type":"ApiConnection",
                                 "inputs":{
                                    "body":"@variables('Upload')",
                                    "headers":{
                                       "Log-Type":"WVDHostPoolStatistic"
                                    },
                                    "host":{
                                       "connection":{
                                          "name":"@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                       }
                                    },
                                    "method":"post",
                                    "path":"/api/logs"
                                 }
                              },
                              "Set_NextLink_2":{
                                 "runAfter":{
                                    
                                 },
                                 "type":"SetVariable",
                                 "inputs":{
                                    "name":"NextLink",
                                    "value":"https://management.azure.com@{items('For_each')?['id']}/sessionhosts?api-version=2019-09-24-preview"
                                 }
                              },
                              "Set_NextLink_3":{
                                 "runAfter":{
                                    "Send_Data":[
                                       "Succeeded"
                                    ]
                                 },
                                 "type":"SetVariable",
                                 "inputs":{
                                    "name":"NextLink",
                                    "value":"@{body('Parse:_SessionHosts')?['nextLink']}"
                                 }
                              },
                              "Set_Upload":{
                                 "runAfter":{
                                    "Parse:_SessionHosts":[
                                       "Succeeded"
                                    ]
                                 },
                                 "type":"SetVariable",
                                 "inputs":{
                                    "name":"Upload",
                                    "value":"@{body('Parse:_SessionHosts')?['value']}"
                                 }
                              }
                           },
                           "runAfter":{
                              "Set_NextLink":[
                                 "Succeeded"
                              ]
                           },
                           "expression":"@equals(variables('NextLink'), '')",
                           "limit":{
                              "count":60,
                              "timeout":"PT1H"
                           },
                           "type":"Until"
                        }
                     },
                     "runAfter":{
                        "Parse:_HostPools":[
                           "Succeeded"
                        ]
                     },
                     "type":"Foreach",
                     "runtimeConfiguration":{
                        "concurrency":{
                           "repetitions":1
                        }
                     }
                  },
                  "HTTP:_HostPools":{
                     "runAfter":{
                        "Internal:_2":[
                           "Succeeded"
                        ]
                     },
                     "type":"Http",
                     "inputs":{
                        "authentication":{
                           "audience":"https://management.azure.com/",
                           "clientId":"@variables('AADAppId')",
                           "secret":"@variables('AADAppPassword')",
                           "tenant":"@variables('AADTenantId')",
                           "type":"ActiveDirectoryOAuth"
                        },
                        "method":"GET",
                        "uri":"https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/providers/Microsoft.DesktopVirtualization/hostpools?api-version=2019-09-24-preview"
                     }
                  },
                  "Internal:_ 1":{
                     "runAfter":{
                        "Authentication:_App_Password":[
                           "Succeeded"
                        ]
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"NextLink",
                              "type":"string"
                           }
                        ]
                     }
                  },
                  "Internal:_2":{
                     "runAfter":{
                        "Internal:_ 1":[
                           "Succeeded"
                        ]
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"Upload",
                              "type":"string"
                           }
                        ]
                     }
                  },
                  "Parse:_HostPools":{
                     "runAfter":{
                        "HTTP:_HostPools":[
                           "Succeeded"
                        ]
                     },
                     "type":"ParseJson",
                     "inputs":{
                        "content":"@body('HTTP:_HostPools')",
                        "schema":{
                           "properties":{
                              "nextLink":{
                                 
                              },
                              "value":{
                                 "type":"array"
                              }
                           },
                           "type":"object"
                        }
                     }
                  },
                  "Subscription_Id":{
                     "runAfter":{
                        
                     },
                     "type":"InitializeVariable",
                     "inputs":{
                        "variables":[
                           {
                              "name":"SubscriptionId",
                              "type":"string",
                              "value":"00000000-0000-0000-0000-000000000000"
                           }
                        ]
                     }
                  }
               },
               "outputs":{
                  
               }
            },
            "parameters":{
               "$connections":{
                  "value":{
                     "azureloganalyticsdatacollector":{
                        "connectionId":"[resourceId('Microsoft.Web/connections', variables('connections_azureloganalyticsdatacollector_name'))]",
                        "connectionName":"[variables('connections_azureloganalyticsdatacollector_name')]",
                        "id":"[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
                     }
                  }
               }
            }
         }
      }
   ]
}